@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");

body {
  margin: 0;
  min-width: 100%;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vazir", sans-serif !important;
  background: #F9F7F7 !important;
}

main {
  min-height: 100vh;
}

.card {
  font-family: "Quicksand" !important;
  transition: 0.09s all ease-out !important;
  
}
.card:hover {
  transform: scale(1.03);
}

.card-body {
  padding: 1rem !important;
}


.h5 {
  font-size: 1.12rem !important;
  font-weight: normal !important;
}

.card-img-top {
  cursor: pointer !important;
}

.form {
  max-width: 200rem !important;
}

.icon-location {
  top: 27%;
  left: 2.5%;
}


.illustrator {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
}

.popcorn {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
}

.error-image-pedar {
  width: 100%;
}

.error-image {
  max-width: 100%;
  /* min-width: 350px; */
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.anime-error {
  animation: erroranimation 1.2s linear infinite alternate;
  max-width: 100%;
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes erroranimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-8%);
  }
}

.input {
  border: none !important;
  outline: none !important;
  background: rgba(245, 246, 250,1.0) !important;
  width: 350px !important;
  border-radius: 7px;
  box-shadow:inset 0 0 3px rgba(113, 128, 147,0.4);
  color: rgba(53, 59, 72,1.0);
  letter-spacing: 1px;
  font-size: 18px;
}

.search-icon {
  position: absolute;
  left: 2%;
  top: 25%;
  font-size: 1.3rem;
  color: rgba(72, 126, 176,1.0);
}

.link-footer {
  cursor: pointer;
}
.link-footer:hover {
  color: #6c5ce7;
}

@media only screen and (max-width: 480px) {
  .h5 {
    font-size: 0.9rem !important;
  }
 
  .card-title {
    margin-bottom: 5px !important;
  }
  .text-muted {
    margin-bottom: 5px !important;
    font-size: 0.78rem !important;
    font-weight: 400;
  }
  .btn {
    padding: 0.20rem 0.5rem !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    border-radius: 0.2rem !important;
    margin-bottom: auto !important;
  }


}


